{% extends "base.html" %}
{% comment %}

This is the main template for all portal pages.

{% endcomment %}

{% block head %}
    <title>Django Consultants | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Django Consultants | Web Portal</h1>
    </header>

    <section>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/logout/">logout</a></li>
        </ul>
    </section>

    {% block content %}{% endblock %}

    <footer>
        <span>&copy; 2010, Django Consultants</span>
    </footer>
{% endblock %}