{% extends "base.html" %}
{% comment %}

Main page of django_consultant's website.

{% endcomment %}

{% block head %}
    <title>Django Consultants</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Django Consultants</h1>
    </header>

    <section>
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} </p>
    {% endif %}
        <p>Welcome to Django Consultants. Please click <a href="/portal/">here</a> to log into our web portal.</p>
    </section>
{% endblock %}